
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    height: 100%;
    min-height: 100%;
    background: url(/img/grass-lawn.jpg) no-repeat center top fixed;
    background-size: cover;
}

body {
    min-height: 100%;
    background-color: transparent;
}

body > * {
    background-color: rgba(0,0,0,0.65);
}

header {
    padding-top: 15px;
}

.gc-nav {
    margin-bottom: -20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.page-header {
    margin-top: 5px;
}

.navbar-brand {
    font-family: "Arial Black";
}

.carousel-wrap {
    padding: 6px;
}

#carousel-main {
    max-height: 500px;
}

.gc-call {
    margin: 10px 0;
    padding-bottom: 6px;
}

.gc-call h2 {
    margin: 0;
}

.gc-call .label {
    background-color: #D10000
}

.phone-link,
.phone-link:hover,
.phone-link + small {
    color: inherit;
    text-decoration: none;
}

.overlay-number {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
}

.overlay-guy {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

body > .container > .row > div {
    margin-top: 8px;
    margin-bottom: 8px;
}

.gc-menu {
    margin: 20px 0 15px 0;
}

.gc-menu li {
    line-height: 1.75em;
}

.gc-menu li a {
    font-size: 1.25em;
}

.well {
    background: inherit;
    background-color: rgba(0,0,0,0.50);
    border-color: rgba(0,0,0,0.90);
}

.thumbnail img,
.thumbnail a img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

.thumbnail img:last-child,
.thumbnail a:last-child img {
    margin-bottom: 0;
}

.thumbnail {
    background-color: rgba(255,255,255,0.50);
}

.thumbnail .caption {
  color: #000000;
}

.list-group-item {
    background-color: rgba(255,255,255,0.75);
    color: #000000;
}

/*.gallery a {
    padding: 5px;
}*/

.thing {margin-top: 15px;}

.thing:first-child{margin-top: 0;}

.thing-heading{margin: 0 0 5px;}

.thing > .pull-left {margin-right: 10px;}

.thing > .pull-right {margin-left: 10px;}

.thing:before,
.thing:after {
    content: " ";
    display: table;
}

.thing:after {clear: both;}

body footer {
    /*margin: 8px;*/
    padding: 6px;
}

@media (min-width: 992px) {

}

@media (max-width: 768px) {

    header.container {
        padding: 0;
        margin: 0;
    }

    .gc-nav {
        margin-bottom: 0;
    }

}