
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.gc-nav {
    margin-bottom: 0;
    /*border-bottom: 0;*/
}

body {
    background: url(/img/grass-lawn.jpg);
    background-position: center center;
}

body > * {
    background-color: rgba(0,0,0,0.65);
}

#carousel-main {
    max-width: 841px;
}

.gc-call .label {
    background-color: #D10000
}

.phone-link,
.phone-link:hover,
.phone-link + small {
    color: inherit;
    text-decoration: none;
}

.overlay-guy {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.overlay-cclogos {
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
}

body > .container > .row > div {
    margin-top: 8px;
    margin-bottom: 8px;
}

body footer {
    /*margin: 8px;*/
    padding: 6px;
}