{{define "Title"}}Bagging and Custom Materials{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Bagging and Custom Materials</h1>
		
		<div class="thing">
			<img class="pull-left img-rounded" src="/img/services/bagging-machine.jpg" alt="">
			<h3 class="thing-heading">Bagging</h3>
			<p>We not only produce our own bagged products, but we are also a contract packager to other companies and other commercial growers that need a custom blended compost or potting soil material in either their own bag, or in our own plain white bag or bulk tote.  We have a full array of blending and packaging equipment to service your needs.</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/services/material-screener.jpg" alt="">
			<h3 class="thing-heading">Custom Soil Blends</h3>
			<p>We specialize in custom soil blends for multiple commercial uses.  We supply Nurseries and Greenhouse Growers all over the Southern Oregon with custom soil mixes for all phases of grower production. We also custom blend soils for any type of landscape project, environmental restoration or roadside construction, or blend proprietary mixes for customers using it for resale distribution.</p>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-6">
				<h4 class="caption"><em>Custom Bags</em></h4>
				<img class="img-rounded img-responsive center-block" src="/img/services/custom-bags.jpg" alt="Custom Bags">
			</div>
			<div class="col-sm-6">
				<h4 class="caption"><em>Large Tote</em></h4>
				<img class="img-rounded img-responsive center-block" src="/img/services/tote.jpg" alt="Large Tote">
			</div>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3 class="text-center">Quality Growing Mixes</h3>
		<ul>
			<li>All mixes include a basic starter fertilizer</li>
			<li>pH balanced with Dolomite Lime</li>
			<li>Greenhouse mixes are blended at time of order</li>
		</ul>

		<h3 class="text-center">We Specialize in Custom Blends!</h3>
		<h4 class="text-center">For quotes call<br>{{template "phone"}}</h4>
		<h4 class="text-center">We Deliver Too!</h4>

		<img class="img-rounded img-responsive center-block" src="/img/green-house-soil.jpg" alt="Green House Soil">
	</div>
	</div>
</div>
{{end}}