{{define "Title"}}Bark{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">
		
		<h1 class="page-header text-primary">Mulch and Bark Products</h1>
		<p class="text-center">Click on an image to see a larger view.<br>
		Note: Bark color may vary depending on moisture</p>

		<div class="thing">
			<a class="pull-left" href="/img/products/bark-o-mulch.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/bark-o-mulch-thumb.jpg" alt="Bark-O Mulch">
			</a>
			<h3 class="thing-heading">Bark-O Mulch</h3>
			<p>Extra Fine Bark is a 3/8 inch fine screened fir bark that provides you with a smooth finished appearance in your landscape.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/beauty-bark.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/beauty-bark-thumb.jpg" alt="Beauty Bark">
			</a>
			<h3 class="thing-heading">Beauty Bark</h3>
			<p>Beauty bark is our customers favorite premium grind fire bark mulch for general mulching and natural weed control.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/pebble-bark.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/pebble-bark-thumb.jpg" alt="Pebble Bark">
			</a>
			<h3 class="thing-heading">Pebble Bark</h3>
			<p>Pebble bark are a 1 inch fir bark nugget that is free of bark fines. As a wind resistant ground cover, pebble bark nuggets will give you long lasting and contrasting texture in the landscape.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/playground-fiber.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/playground-fiber-thumb.jpg" alt="Playground Fiber">
			</a>
			<h3 class="thing-heading">Playground Fiber</h3>
			<p>Playground fiber is an ASTM tested and approved playground safety surface material that meets their guildlines for imact resistance and wheelchair accessibility.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/walk-on-bark.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/walk-on-bark-thumb.jpg" alt="Walk On Bark">
			</a>
			<h3 class="thing-heading">Walk On Bark</h3>
			<p>Walk On Bark is a coarse bark and ground wood fiber material for mud control of natural pathway surface.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/garden-mulch.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/garden-mulch-thumb.jpg" alt="Garden Mulch">
			</a>
			<h3 class="thing-heading">Garden Mulch</h3>
			<p>Fine dark Hemlock</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/forest-floor.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/forest-floor-thumb.jpg" alt="Forest Floor Mulch">
			</a>
			<h3 class="thing-heading">Forest Floor Mulch</h3>
			<p></p>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Why use Mulch and Bark?</h3>
		<p>Mulch is a necessary part of any garden or landscape. Mulch slows evaporation of moisture from the soil, which means less watering, and keeps roots cooler and less stressed. It also acts as a weed barrier to block out weeds the natural way. Mulch also helps maintain soil structure by keeping topsoil from craking in the heat. It breaks down over the season and adds organic matter to soil during the winter. A one to two inch layer of mulch each year will maintain a healthy soil and attractive shrub bed. For good weed control, an initial 3 inch layer over bare soil is recommended.</p>

		<h3>Product Delivery</h3>
		<p>We have two ways to deliver our products to your location. They can be blown directly into your planter bed or dump delivered. Call Ground Control today and get a free estimate!</p>

		<h4 class="text-center">{{template "phone"}}</h4>

		<h4 class="caption"><em>Blown-in Delivery</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Blown-in-bark.jpg" alt="Operator blowing in bark">

		<h4 class="caption"><em>Dump Delivery</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Dump-Delivery.jpg" alt="Dump truck">
	</div>
	</div>
</div>
{{end}}