{{define "Title"}}Bark Blowing{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Bark Blowing</h1>
		<a href="/img/ground-control-red.jpg" rel="lightbox"><img class="img-rounded img-responsive" src="/img/ground-control-red.jpg" alt="Ground Control Truck"></a>

		<div class="thing">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="thing-heading"></h3>
			<p>Our trained professionals are careful around all of your personal belongings.</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="thing-heading"></h3>
			<p>We leave no mess. From start to finish, we take care of it all.</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="thing-heading"></h3>
			<p>Our dust suppression system keep the job cleaner than the competition.</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="thing-heading"></h3>
			<p>State of the art equipment means we are reliable and will be there when you need us.</p>
		</div>

		<h2>See our truck in action!</h2>
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item center-block" src="//www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="embed-responsive embed-responsive-4by3">
			<iframe class="embed-responsive-item center-block" src="//www.youtube.com/embed/" frameborder="0" allowfullscreen></iframe>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Check out our products!</h3>
		<p>Click on a category below to see a full listing of products we can blow in.</p>
		
		<h4 class="caption"><em>Bark Mulch &amp; Wood Chips</em></h4>
		<a href="/Bark.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>

		<h4 class="caption"><em>Compost, Soil &amp; Topsoil</em></h4>
		<a href="/Topsoil-Blends.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>

		<h4 class="caption"><em>Sand &amp; Rock</em></h4>
		<a href="/Rock-Sand.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>
	</div>
	</div>
</div>
{{end}}