{{define "Title"}}Decorative Rock and Boulders{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Decorative Rock and Boulders</h1>

		<h3>Boulders</h3>
		<div class="row">
			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

		</div>

		<h3>Caged Rock</h3>
		<div class="row">
			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

		</div>

		<h3>Water Feature Rock</h3>
		<div class="row">
			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

		</div>

		<h3>Fire Pits</h3>
		<div class="row">
			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

			<div class="col-sm-4">
				<a href="/img/products/" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="http://placehold.it/150x120" alt=""></a></div>

		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Two ways to get these products</h3>

		<h4 class="caption"><em>Delivered and Dumped</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Dump-Delivery.jpg" alt="Dump truck">

		<h4 class="caption"><em>Retail Pick-up</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/loader.jpg" alt="Retail Loader">

		<h4 class="text-center">{{template "phone"}}</h4>			
	</div>
	</div>
</div>
{{end}}