{{define "Title"}}Decorative Rock and Boulders{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Rocks and Boulders</h1>
		<p>Rock and boulders can be used for steps, rock walls, and garden design features.</p>

		<div class="row gallery">
			<div class="col-md-4 col-sm-6"><div class="thumbnail">
				<div class="caption">
					<h4>Basalt</h4>
					<p><span class="label label-primary">Boulder</span> <span class="label label-primary">Caged</span></p>
				</div>
				<a href="/img/products/boulder-1.jpg">
					<img src="/img/products/boulder-1-thumb.jpg" alt="">
				</a>
				<a href="/img/products/caged-rock-2.jpg">
					<img src="/img/products/caged-rock-2-thumb.jpg" alt="">
				</a>
			</div></div>

			<div class="col-md-4 col-sm-6"><div class="thumbnail">
				<div class="caption">
					<h4>Rustic Brown</h4>
					<p><span class="label label-primary">Boulder</span> <span class="label label-primary">Caged</span></p>
				</div>
				<a href="/img/products/boulder-4.jpg">
					<img src="/img/products/boulder-4-thumb.jpg" alt="">
				</a>
				<a href="/img/products/caged-rock-3.jpg">
					<img src="/img/products/caged-rock-3-thumb.jpg" alt="">
				</a>
			</div></div>

			<div class="col-md-4 col-sm-6"><div class="thumbnail">
				<div class="caption">
					<h4>Round Rock</h4>
					<p><span class="label label-primary">Caged</span></p>
				</div>
				<a href="/img/products/caged-rock-1.jpg">
					<img src="/img/products/caged-rock-1-thumb.jpg" alt="">
				</a>
			</div></div>

			<div class="col-md-4 col-sm-6"><div class="thumbnail">
				<div class="caption">
					<h4>White Granite</h4>
					<p><span class="label label-primary">Boulder</span></p>
				</div>
				<a href="/img/products/boulder-9.jpg">
					<img src="/img/products/boulder-9-thumb.jpg" alt="">
				</a>
			</div></div>

		</div>

		<div>
			<p><span class="label label-primary">Boulder</span> = Available as individual boulders</p>
			<p><span class="label label-primary">Caged</span> = Available by the caged pallet</p>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Two ways to get these products</h3>

		<h4 class="caption"><em>Delivered and Dumped</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Dump-Delivery.jpg" alt="Dump truck">

		<h4 class="caption"><em>Retail Pick-up</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/loader.jpg" alt="Retail Loader">

		<h4 class="text-center">{{template "phone"}}</h4>			
	</div>
	</div>
</div>
{{end}}