{{define "Title"}}Concrete{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Concrete</h1>
		<p class="lead">We also do custom concrete in Southern Oregon. Please contact us to find out more about our concrete service.</p>
		<h3 class="text-center">Call {{template "phone"}}</h3>

		<img class="center-block img-rounded img-responsive" src="/img/photo (29)_320x239.JPG" alt="Custom Concrete Walkway">
		<hr>
		<div class="row">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
			<img class="col-sm-2 img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

	</div>
	</div>
</div>
{{end}}