{{define "Title"}}Concrete{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Concrete</h1>
		<p class="lead">We also do custom concrete in Southern Oregon. Please contact us to find out more about our concrete service.</p>
		<h3 class="text-center">Call {{template "phone"}}</h3>

		<div class="row gallery">
			<a class="col-md-3 col-sm-6" href="/img/concrete/concrete-walkway.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/concrete-walkway-thumb.jpg" alt="Custom Concrete Walkway">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/concrete-driveway.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/concrete-driveway-thumb.jpg" alt="Custom Concrete Driveway">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/concrete-driveway-front.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/concrete-driveway-front-thumb.jpg" alt="Custom Concrete Driveway Front">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/custom-concrete-basketball-court.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/custom-concrete-basketball-court-thumb.jpg" alt="Custom Concrete Basketball Court">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/custom-concrete-backyard.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/custom-concrete-backyard-thumb.jpg" alt="Custom Concrete Backyard">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/stamped-concrete.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/stamped-concrete-thumb.jpg" alt="Stamped Concrete">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/stamped-concrete-big.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/stamped-concrete-big-thumb.jpg" alt="Stamped Concrete">
			</a>

			<a class="col-md-3 col-sm-6" href="/img/concrete/custom-concrete.jpg">
				<img class="center-block img-rounded img-responsive" src="/img/concrete/custom-concrete-thumb.jpg" alt="Custom Stamped Concrete">
			</a>

		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

	</div>
	</div>
</div>
{{end}}