{{define "Title"}}Form Submission{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-12">
	<div class="well">

		<h1 class="page-header text-primary">Form sent successfully!</h1>
		
		<p class="lead">We will attempt to answer you promptly, however it may take longer during the busy season. If you have an urgent question that needs a prompt response please call us at {{template "phone"}}</p>

		<h3 class="text-center"><a href="/">Continue Browsing...</a></h3>

	</div>
	</div>
</div>
{{end}}