{{define "Title"}}Delivery Services{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Delivery Services</h1>
		
		<div class="thing">
			<img class="pull-left img-rounded" src="/img/loader-thumb.jpg" alt="Retail Yard Loader">
			<h3 class="thing-heading">Retail Yard</h3>
			<p>Come to our retail yard and pick up any of our products.</p>
			<p>6351 Blackwell Rd. Central Point  <a target="window" href="https://www.google.com/maps/place/Ground+Control+Southern+Oregon+LLC/@42.408374,-122.944783,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x18bf5e3c247e983d">(Get Directions)</a></p>
			<p>Open 7:30-4:30 M-F, 8:00-4:00 Sat</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/dump-delivery-thumb.jpg" alt="Dump Truck">
			<h3 class="thing-heading">Delivery</h3>
			<p>Ground Control can deliver any size load. From 1 cubic yard to 60 cu yd. at a time. Our transfer dump truck allows us to bring twice the material of a conventional truck, saving our customers time and money.</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/blown-in-bark-thumb.jpg" alt="Operator Blowing in Bark">
			<h3 class="thing-heading">Blower Service</h3>
			<p>With our <a href="/Bark-Blowing.html">blower truck</a> we can spread bark mulch, compost, topsoil and even rock! Our state of the art blower trucks are twice as standard blower trucks, saving time, money and fuel.</p>
		</div>

		<hr>

		<p class="text-center">Rooftop - Playground - Top Dressing Lawn - New Lawn - Erosion Control</p>

		<h3 class="text-center">Check out our <a href="//www.youtube.com/user/GroundControlos/" target="window">YouTube Channel</a>!</h3>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Check out our products!</h3>
		<p>Click on a category below to see a full listing of products we can blow in.</p>
		
		<h4 class="caption"><em>Bark Mulch &amp; Wood Chips</em></h4>
		<a href="/Bark.html">
			<img class="img-rounded img-responsive center-block" src="/img/products/bark-products.jpg" alt="Bark Products">
		</a>

		<h4 class="caption"><em>Compost, Soil &amp; Topsoil</em></h4>
		<a href="/Topsoil-Blends.html">
			<img class="img-rounded img-responsive center-block" src="/img/products/soil-products.jpg" alt="Soil and Compost Products">
		</a>

		<h4 class="caption"><em>Sand &amp; Rock</em></h4>
		<a href="/Rock-Sand.html">
			<img class="img-rounded img-responsive center-block" src="/img/products/rock-products.jpg" alt="Sand and Rock Products">
		</a>
	</div>
	</div>
</div>
{{end}}