{{define "Title"}}Delivery Services{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Delivery Services</h1>
		
		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Retail Yard</h3>
			<p>Come to our retail yard and pick up any of our products.</p>
			<p>6351 Blackwell Rd. Central Point  <a href="">(Get Directions)</a></p>
			<p>Open 7:30-4:30 M-F, 8:00-4:00 Sat</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Delivery</h3>
			<p>Ground Control can deliver any size load. From 1 cubic yard to 60 cu yd. at a time. Our transfer dump truck allows us to bring twice the material of a conventional truck, saving our customers time and money.</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Blower Service</h3>
			<p>With our <a href="/Bark-Blowing.html">blower truck</a> we can spread bark mulch, compost, topsoil and even rock! Our state of the art blower trucks are twice as standard blower trucks, saving time, money and fuel.</p>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-2">
				<img class="img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
				<p class="caption">Rooftop</p>
			</div>
			<div class="col-sm-2">
				<img class="img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
				<p class="caption">Playground</p>
			</div>
			<div class="col-sm-2">
				<img class="img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
				<p class="caption">Top Dressing Lawn</p>
			</div>
			<div class="col-sm-2">
				<img class="img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
				<p class="caption">New Lawn</p>
			</div>
			<div class="col-sm-2">
				<img class="img-rounded img-responsive" src="http://placehold.it/150x120" alt="">
				<p class="caption">Erosion Control</p>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<h3 class="text-center"><a href="//www.youtube.com/user/GroundControlos/">Check out our YouTube Channel!</a></h3>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Check out our products!</h3>
		<p>Click on a category below to see a full listing of products we can blow in.</p>
		
		<h4 class="caption"><em>Bark Mulch &amp; Wood Chips</em></h4>
		<a href="/Bark.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>

		<h4 class="caption"><em>Compost, Soil &amp; Topsoil</em></h4>
		<a href="/Topsoil-Blends.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>

		<h4 class="caption"><em>Sand &amp; Rock</em></h4>
		<a href="/Rock-Sand.html">
			<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">
		</a>
	</div>
	</div>
</div>
{{end}}