{{define "Title"}}Erosion Control{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Erosion Control</h1>
		<p class="lead">Our blower trucks allow us to install a number of fully Organic erosion control products.</p>
		
		<div class="thing">
			<a class="pull-left" href="" rel="lightbox">
				<img class="img-rounded" src="http://placehold.it/150x120" alt="Eco berm">
			</a>
			<h3 class="thing-heading">Eco Blanket</h3>
			<p>A 1" to 2" layer of compost, seed and tackifier.</p>
			<code>Eco Blanket Specification</code>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/erosion/eco-berm.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/erosion/eco-berm-thumb.jpg" alt="Eco berm">
			</a>
			<h3 class="thing-heading">Eco Berm</h3>
			<p></p>
		</div>

		<div class="thing">
			<a name="Vegetative-Retaining-Walls"></a>
			<a class="pull-left" href="/img/erosion/vegetative-retaining-wall.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/erosion/vegetative-retaining-wall-thumb.jpg" alt="Vegetative Retaining Wall">
			</a>
			<h3 class="thing-heading">Vegetative Retaining Walls</h3>
			<p>Vegetated retaining walls are a green alternative to block and concrete retaining walls. Offering higher aesthetic appeal and a natural look, Filtrexx® Vegetated Walls are a mechanically stabilized earth (MSE) system that is reinforced with vegetation and geogrid support. These systems are ideal for real estate and public parks and can restore native wildlife habitat to hardscapes and developed areas.</p>
			<p>In the past, challenges in establishing vegetation have led to minimal use of greenwall systems. Vegetated retaining walls rely on GrowingMedia™ to provide a fertile growing medium that encourages vegetation establishment and successfully assists in anchoring roots of the vegetation to the wall and the site substrate. Further, the vegetated fascia drastically reduces or eliminates the build up of hydrostatic pressure behind the wall face, where failures often happen in hard wall systems.</p>

			<h3 class="text-center caption">Ground Control is certified by filtrexx</h3>
			<img class="center-block img-rounded img-responsive" src="/img/erosion/filtrexx.jpg" alt="filtrexx Certification">
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3>Check it Out!</h3>
		
		<h4 class="caption"><em>Finished VRW</em></h4>
		<a href="/img/erosion/vegetative-retaining-wall-finished.jpg" rel="lightbox">
			<img class="img-rounded img-responsive center-block" src="/img/erosion/vegetative-retaining-wall-finished-thumb.jpg" alt="Finished Vegetative Retaining Wall">
		</a>

		<h4 class="caption"><em>Germinating VRW</em></h4>
		<a href="/img/erosion/vegetative-retaining-wall-after-germinating.jpg" rel="lightbox">
			<img class="img-rounded img-responsive center-block" src="/img/erosion/vegetative-retaining-wall-after-germinating-thumb.jpg" alt="Germinating Vegetative Retaining Wall">
		</a>

	</div>
	</div>
</div>
{{end}}