{{define "Title"}}Excavation Services{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Excavation Services</h1>
		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading"></h3>
			<p></p>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

		<h4 class="caption"><em></em></h4>
		<img class="img-rounded img-responsive center-block" src="http://placehold.it/260x225" alt="">

	</div>
	</div>
</div>
{{end}}