{{define "Title"}}Excavation Services{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Excavation Services</h1>
		<p class="lead">We provide the following services, call for details! {{template "phone"}}</p>

		<ul class="list-group">
			<li class="list-group-item">Road Grading</li>
			<li class="list-group-item">Land Clearing</li>
			<li class="list-group-item">Driveways</li>
			<li class="list-group-item">Sidewalk Prep</li>
			<li class="list-group-item">French Drains</li>
			<li class="list-group-item">Grading</li>
			<li class="list-group-item">Concrete/Asphalt Removal</li>
		</ul>

		<img class="img-responsive img-rounded center-block" src="/img/hitachi-excavator-5.jpg" alt="Hitachi Excavator">

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

		<h4 class="caption"><em></em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/flatbed.jpg" alt="Flatbed Truck">

	</div>
	</div>
</div>
{{end}}