{{define "Title"}}Excavation Services{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-12">
	<div class="well">

		<h1 class="page-header text-primary">Excavation Services</h1>
		<p class="lead">We provide the following professional services. We can tackle both residential and commercial challenges and ensure the job is done right. If you want a thorough and complete job done to the highest standards, give us a call! {{template "phone"}}</p>

		<div class="row">
			<h3 class="col-sm-4"><span class="label label-default">Road Grading</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Land Clearing</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Driveway Repair</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Sidewalk Prep</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">French Drains</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Grading</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Concrete/Asphalt Removal</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Residential Building Pads</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Commercial Infrastructure</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Utility Hook-ups</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Brush Removal</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Forest Fuel Reduction</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Mowing</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Excavation/Grading</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Demolition Excavation</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Rock Retaining Walls</span></h3>
			<h3 class="col-sm-4"><span class="label label-default">Haul Away</span></h3>
		</div>

		<br>
		<div class="row">
			<div class="col-sm-8"><img class="img-responsive img-rounded center-block" src="/img/hitachi-excavator-5.jpg" alt="Hitachi Excavator"></div>
			<div class="col-sm-4"><img class="img-responsive img-rounded center-block" src="/img/flatbed.jpg" alt="Flatbed Truck"></div>
		</div><br>
		<div class="row">
			<div class="col-sm-4"><img class="img-responsive img-rounded center-block" src="/img/skid-steer.jpg" alt="Skid Steer Tractor"></div>
			<div class="col-sm-8"><img class="img-responsive img-rounded center-block" src="/img/big-roller.jpg" alt="Roller"></div>
		</div>

	</div>
	</div>
</div>
{{end}}