{{define "Title"}}Gallery{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-12">
	<div class="well">

		<h1 class="page-header text-primary">Landscaping Gallery</h1>

		<h3 class="text-center">Also check out our <a href="//www.youtube.com/user/GroundControlos/" target="window">YouTube Channel</a>!</h3>

		<div class="row gallery">
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blowing-in-bark-home-makeover.jpg">
					<img src="/img/gallery/blowing-in-bark-home-makeover-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blowing-dyed-bark.jpg">
					<img src="/img/gallery/blowing-dyed-bark-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/synthetic-turf-putting-concrete-palm.jpg">
					<img src="/img/gallery/synthetic-turf-putting-concrete-palm-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/bark-blown-onramp-bridge-freeway.jpg">
					<img src="/img/gallery/bark-blown-onramp-bridge-freeway-thumb.jpg" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/aged-bark-mulch-home-makeover.jpg">
					<img src="/img/gallery/aged-bark-mulch-home-makeover-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/bark-blown-hill-driveway.jpg">
					<img src="/img/gallery/bark-blown-hill-driveway-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/grass-lawn-bark-mulch.jpg">
					<img src="/img/gallery/grass-lawn-bark-mulch-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/house-planter-bark-grass-rock.jpg">
					<img src="/img/gallery/house-planter-bark-grass-rock-thumb.jpg" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/bark-blowing-ground-control-home-makeover.jpg">
					<img src="/img/gallery/bark-blowing-ground-control-home-makeover-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blowing-colored-bark-truck.jpg">
					<img src="/img/gallery/blowing-colored-bark-truck-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blower-applying-material-hill.jpg">
					<img src="/img/gallery/blower-applying-material-hill-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/mulch-blowing-hose-grass-patio.jpg">
					<img src="/img/gallery/mulch-blowing-hose-grass-patio-thumb.jpg" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/bark-mulch-blowing-home-makeover.jpg">
					<img src="/img/gallery/bark-mulch-blowing-home-makeover-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/bark-fountain.jpg">
					<img src="/img/gallery/bark-fountain-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blower-applying-compost-lawn-hill.jpg">
					<img src="/img/gallery/blower-applying-compost-lawn-hill-thumb.jpg" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="/img/gallery/blowing-bark-clean.jpg">
					<img src="/img/gallery/blowing-bark-clean-thumb.jpg" alt=""></a></div>

		</div>

	</div>
	</div>
	<!--<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

	</div>
	</div>-->
</div>
{{end}}