{{define "Title"}}Gallery{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Landscaping Gallery</h1>

		<h3 class="text-center"><a href="//www.youtube.com/user/GroundControlos/" target="window">Also check out our YouTube Channel!</a></h3>

		<div class="row gallery">
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>

			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>
			<div class="col-md-3 col-sm-6">
				<a class="thumbnail" href="">
					<img src="http://placehold.it/300x240" alt=""></a></div>

		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

	</div>
	</div>
</div>
{{end}}