{{define "Title"}}Gallery{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Landscaping Gallery</h1>

		<div class="row gallery">
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>

			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>

			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>

			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
			<a class="col-md-3 col-sm-6" href="http://placehold.it/1200x960"><img class="img-rounded img-responsive center-block" src="http://placehold.it/300x240" alt=""></a>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

	</div>
	</div>
</div>
{{end}}