{{define "Title"}}Garden Supplies{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-12">
	<div class="well">

		<h1 class="page-header text-primary">Fertilizer</h1>
		<p class="lead">We carry a variety of garden and plant fertilizers at our retail yard. Call or come visit us for more informaiton!</p>
		
		<img class="center-block img-responsive" src="/img/drearth/DrEarth-header.png" alt="">

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/life_4lb_ad-thumb.jpg" alt="">
			<h3 class="thing-heading">Life - All Purpose Fertilizer</h3>
			<p>Life® is a true pelletized and homogenous organic all purpose fertilizer that produces remarkable results because nutrients are released quickly yet continue to feed for several months. Ultra-premium scientific formula provides optimum levels of primary essential plant nutrients, including micronutrients and multi-minerals. ProBiotic™ ensures organic nutrients are thoroughly broken down then released in the soil for plant roots to absorb them as they are needed. Feeds for several months. Great for every plant in the garden. This is our easiest to use fertilizer and can be applied to the soil without having to be worked in. Very easy! (<a href="http://drearth.net/products/organic-fertilizers/life-all-purpose-fertilizer/" target="window">More Info</a>)</p>

		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/annualbloom_fert_ad-thumb.jpg" alt="">
			<h3 class="thing-heading">Annual Bloom - Flower Garden</h3>
			<p>Annual Bloom fertilizer produces remarkable results because nutrients are released quickly, yet continue to feed for several months. Ultra-premium scientific formula provides optimum levels of primary essential plant nutrients, including micronutrients and multi-minerals. ProBiotic™ ensures organic nutrients are thoroughly broken down and then released in the soil for plant roots to absorb them as they are needed. (<a href="http://drearth.net/products/organic-fertilizers/organic-6-flower-garden-fertilizer/" target="window">More Info</a>)</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/spectacular_bulbfood-thumb.jpg" alt="">
			<h3 class="thing-heading">Spectacular - Bulb Food</h3>
			<p>Spectacular fertilizer produces remarkable results because nutrients are released quickly, yet continue to feed for several months. Ultra-premium scientific formula provides optimum levels of primary essential plant nutrients, including micronutrients and multi-minerals. The result is bigger, more abundant blooms, naturally. Loosens and improves soil structure so bulbs can reach maturity more quickly. (<a href="http://drearth.net/products/organic-fertilizers/organic-1/" target="window">More Info</a>)</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/homegrown_fert-thumb.jpg" alt="">
			<h3 class="thing-heading">Home Grown Fertilizer (Tomato, Vegetable &amp; Herb)</h3>
			<p>Home Grown fertilizer produces remarkable results because nutrients are released quickly, yet continue to feed for several months. Ultra-premium scientific formula provides optimum levels of primary essential plant nutrients, including micronutrients and multi-minerals. ProBiotic™ ensures organic nutrients are thoroughly broken down and then released in the soil for plant roots to absorb them as they are needed. (<a href="http://drearth.net/products/organic-fertilizers/organic-5-tomato-vegetable-herb-fertilizer/" target="window">More Info</a>)</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/premiumgold_fert-thumb.jpg" alt="">
			<h3 class="thing-heading">Premium Gold (All Purpose)</h3>
			<p>Premium Gold fertilizer produces remarkable results because nutrients are released quickly, yet continue to feed for several months. Ultra-premium scientific formula provides optimum levels of primary essential plant nutrients, including micronutrients and multi-minerals. ProBiotic™ ensures organic nutrients are thoroughly broken down and then released in the soil for plant roots to absorb them as they are needed. Feeds for several months. Great for every plant in the garden. (<a href="http://drearth.net/products/organic-fertilizers/organic-7-all-purpose-fertilizer/" target="window">More Info</a>)</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/nitrobig_gal-thumb.jpg" alt="">
			<h3 class="thing-heading">Nitro Big</h3>
			<p>Picture the ultimate in plant health—lush, green growth with thick plant cell walls. Dr. Earth® Nitro Big® with PreBiotic® and ProMoisture Hydrate® reaches that objective by feeding plants the perfect diet, a formula that accelerates robust and vigorous vegetative growth. This formula goes to work in the soil with incredible speed because of the purity of the green-based PreBiotic® ingredients. It works quickly, but not so quickly that it could potentially burn plants. Help your plants reach their full potential! Treat them to Dr. Earth® Nitro Big® for the biggest, tallest and thickest leaves. Use for all garden plants during the early stages of growth or in early spring. (<a href="http://drearth.net/products/liquid-fertilizers/nitro-big/" target="window">More Info</a>)</p>
		</div>

		<div class="thing">
			<img class="pull-left img-rounded" src="/img/drearth/homegrownspray-thumb.jpg" alt="">
			<h3 class="thing-heading">Home Grown Spray</h3>
			<p>Dr. Earth® Home Grown® Tomato, Vegetable &amp; Herb Fertilizer with PreBiotic® and ProMoisture Hydrate® is formulated to feed plants gently to promote robust and productive vegetable gardens. Prebiotics (soluble sugars) provide the existing soil microbes with food and energy to multiply more quickly. ProMoisture Hydrate® (Aloe vera) concentrate assists in the hydration of biotics in the soil by coating them with a patent-pending slimy layer to enhance microbial hydration. Home Grown® is great for all types of vegetable gardens, both summer and winter, rooting and flowering gardens. (<a href="http://drearth.net/products/liquid-fertilizers/home-grown-tomato-vegetable-herb-fertilizer/" target="window">More Info</a>)</p>
		</div>

	</div>
	</div>
</div>
{{end}}