{{define "Title"}}Ground Control Southern Oregon{{end}}

{{define "Body"}}
<div class="gc-call visible-xs"><a class="btn btn-danger btn-lg btn-block" href="tel:5417762275"><strong>Call 541-776-BARK</strong> <small>(2275)</small></a></div>

<section class="carousel-wrap well">
<div id="carousel-main" class="carousel slide center-block" data-ride="carousel">
	<div class="carousel-inner">
		<div class="overlay-number gc-call hidden-xs"><h2 class="text-center"><span class="label label-default">Call {{template "phone"}}</span></h2></div>
		<div class="overlay-guy">
			<img src="/img/Blower_Guy.png" alt="Guy Blowing Bark" class="hidden-xs">
			<img src="/img/Blower_Guy-sm.png" alt="Guy Blowing Bark" class="visible-xs">
		</div>
		<!--<div class="overlay-cclogos">
			<img src="/img/CCLogos.jpg" alt="Credit Card Logos" class="hidden-xs">
		</div>-->

		<div class="item active"><img src="/img/GroundControlRed.jpg" alt="Red Ground Control Truck" class="center-block"></div>
		<div class="item"><img src="/img/Carousel2.jpg" alt="Bark Installed with Rocks" class="center-block"></div>
		<div class="item"><img src="/img/Carousel3.jpg" alt="Red Truck by Playground" class="center-block"></div>
	</div>
</div>
</section>

<section class="gc-menu">
	<div class="row">
		<div class="col-md-4">
			<div class="well text-center">
			<img class="img-circle img-responsive center-block" src="/img/menu/bark-products-sq.jpg" alt="Bark Products">
			<h2>Bark Products</h2>
			<p>Mulch is a necessary part of any garden or landscape. It slows evaporation of moisture from the soil (which means less watering) and keeps roots cooler and less stressed. It also acts as a weed barrier to block out weeds naturally.</p>
			<p><a class="btn btn-default" href="/Bark.html" role="button">View Products</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well text-center">
			<img class="img-circle img-responsive center-block" src="/img/menu/soil-rock-sq.jpg" alt="Soil and Rock">
			<h2>Soil and Rock</h2>
			<p>All mixes include a basic starter fertilizer. They are pH balanced with Dolomite Lime. Greenhouse mixes are blended at time of order. Any materials can be applied by our Blower Trucks.<br><br><br></p>
			<p><a class="btn btn-default" href="/Soil-Rock.html" role="button">View Products</a></p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well text-center">
			<img class="img-circle img-responsive center-block" src="/img/menu/guy-sq.jpg" alt="">
			<h2>Our Services</h2>
			<p>Blowing and Delivery<br>
			Leaf Collection<br>
			Decorative Concrete<br>
			Synthetic Lawns<br>
			Vegetative Retaining Walls<br>
			Retail Yard Pickup<br>
			Free Wood Waste Dropoff<br></p>
			<p><a class="btn btn-default" href="/Services.html" role="button">View Services</a></p>
			</div>
		</div>
	</div>
</section>

<section class="well">
	<div class="row">
		<div class="col-md-7">
			<h2 class="text-primary">Welcome!</h2>
			<p class="lead">Ground Control has been serving Southern Oregon since 2001. 
			We brought Southern Oregon the first locally owned bark blowing business. 
			We strive for excellence and to produce quality work. 
			Expanding throughout the years we now offer a variety of services.</p>
		</div>
		<div class="col-md-5">
			<div class="video-container">
				<iframe width="360" height="480" src="//www.youtube.com/embed/tLVyQeHDY-Q" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>

<section class="hidden">
	<div class="row">
		<div class="col-md-3 col-sm-6"><a href="/Bark.html"><img src="/img/menu-old/bark-products.png" alt="Bark Products" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/Soil-Rock.html"><img src="/img/menu-old/soil-rock.png" alt="Soil and Rock" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/LeafCollection.html"><img src="/img/menu-old/leaf-collection.png" alt="Leaf Collection" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/RetainingWalls.html"><img src="/img/menu-old/vegetative-retaining-wall.png" alt="Vegetative Retaining Wall" class="img-rounded img-responsive center-block"></a></div>

		<div class="col-md-3 col-sm-6"><a href="/SyntheticLawns.html"><img src="/img/menu-old/synthetic-lawns.png" alt="Synthetic Lawns" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/Concrete.html"><img src="/img/menu-old/custom-concrete.png" alt="Custom Concrete" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/Video.html"><img src="/img/menu-old/video.png" alt="Videos" class="img-rounded img-responsive center-block"></a></div>
		<div class="col-md-3 col-sm-6"><a href="/Gallery.html"><img src="/img/menu-old/gallery.png" alt="Gallery" class="img-rounded img-responsive center-block"></a></div>
	</div>
	<hr>
	<div class="row gc-menu text-center">
		<div class="col-md-3 col-sm-6">
			<div class="gc-menu-item">
				<a href="/Bark.html">
					<img src="/img/menu/bark-products.jpg" alt="Bark Products" class="img-rounded img-responsive center-block">
					<h3><strong>Bark Products</strong></h3>
				</a>
			</div>
		</div>
	</div>
</section>
{{end}}