{{define "Title"}}Ground Control Southern Oregon{{end}}

{{define "Body"}}
<div class="jumbotron">
<h3>Call {{template "phone"}}</h3>
<div id="carousel-main" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="overlay-right">
			<img src="/img/Blower_Guy.png" alt="Guy Blowing Bark" class="img-responsive">
		</div>
		<div class="overlay-left">
			<img src="/img/CCLogos.jpg" alt="Credit Card Logos" class="img-responsive">
		</div>

		<div class="item active">
			<img src="/img/GroundControlRed.jpg" alt="Red Ground Control Truck" class="center-block">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="/img/Carousel2.jpg" alt="Bark Installed with Rocks" class="center-block">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="/img/Carousel3.jpg" alt="Red Truck by Playground" class="center-block">
			<div class="carousel-caption"></div>
		</div>
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-3 col-sm-6"><a href="/Bark.html"><img src="/img/menu/bark-products.png" alt="Bark Products" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/Soil-Rock.html"><img src="/img/menu/soil-rock.png" alt="Soil and Rock" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/LeafCollection.html"><img src="/img/menu/leaf-collection.png" alt="Leaf Collection" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/RetainingWalls.html"><img src="/img/menu/vegetative-retaining-wall.png" alt="Vegetative Retaining Wall" class="img-rounded img-responsive center-block"></a></div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-6"><a href="/SyntheticLawns.html"><img src="/img/menu/synthetic-lawns.png" alt="Synthetic Lawns" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/Concrete.html"><img src="/img/menu/custom-concrete.png" alt="Custom Concrete" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/Video.html"><img src="/img/menu/video.png" alt="Videos" class="img-rounded img-responsive center-block"></a></div>
	<div class="col-md-3 col-sm-6"><a href="/Gallery.html"><img src="/img/menu/gallery.png" alt="Gallery" class="img-rounded img-responsive center-block"></a></div>
</div>
{{end}}