{{define "Title"}}Lawn Installation{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Synthetic Lawn Installation</h1>

		<p>Synthetic turf has come a long way.  Increased user requirements and intense competition have given rise to a new generation of synthetic turf systems that replicate the look and playability of natural, lush grass. Homeowners, businesses, parks, municipalities and government entities use synthetic grass as an attractive landscape solution that saves time, money and helps the environment.</p>

		<p>Ground Control only uses the hightest quiality turf on the market giving our customers a 10 fade warranty for the most realistic synthetic lawns.</p>

		<p>Our Envy Lawn qualifies for <a href="http://www.usgbc.org/leed" target="window">LEED Certification.</a></p>

		<p>Our turf product is 100% lead free, 100% recyclable and manufactured to remain green for life.</p>

		<p>We use our blower truck to install all of the base.  By doing this it gives our customers the best pricing and the smoothest looking synthetic lawn.</p>

		<div class="row">
			<div class="col-sm-6">
				<a href="/img/lawn/synthetic-turf.jpg" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="/img/lawn/synthetic-turf-thumb.jpg" alt="Synthetic Lawn by Pool">
				</a>
			</div>
			<div class="col-sm-6">
				<a href="/img/lawn/synthetic-lawn-turf.jpg" rel="lightbox">
					<img class="center-block img-rounded img-responsive" src="/img/lawn/synthetic-lawn-turf-thumb.jpg" alt="Synthetic Lawn by Pool">
				</a>
			</div>
		</div>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3>Environmental Advantages</h3>
		<p>The environmental impact of synthetic turf and artificial grass is significant. Each year, more than 2.2 billion gallons of water are conserved nationwide by over 5,000 sports fields. A typical lawn of 1800 square feet requires 56,000 gallons of water for maintenance, allowing homeowners to save significantly on their bills by switching to synthetic turf. In addition, municipalities, businesses, and golf courses are conserving hundreds of millions of gallons per year.</p>

		<p>The installation of nearly 1,000 new synthetic turf fields in 2009 conserved an estimated 500 million gallons of water and reduced the use of fertilizers by well over 1.25 million pounds.</p>

		<p>Using crumb material from granulated used tires for sports field infill has afforded the opportunity to recycle 25 million used auto tires per year that would otherwise end up in U.S. landfills.</p>

		<p>Synthetic turf does not harbor bacteria or support potentially harmful insect infestations.</p>

	</div>
	</div>
</div>
{{end}}