<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{template "Title" .}} - Ground Control Southern Oregon</title>
        <meta name="description" content="Landscape Material and Bark Blowing in Medford and Southern Oregon. Call Ground Control Inc. {{template "phone-simple"}}">
        <meta property="og:title" content="{{template "Title" .}}">
        <meta property="og:description" content="Landscape Material and Bark Blowing in Medford and Southern Oregon. Call Ground Control Inc. {{template "phone-simple"}}">
        <meta property="og:image" content="/img/Ground-Control-Landscape-Supply.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fluidbox.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
    <!-- Add your site or application content here -->
    <header class="container">
        <nav class="navbar navbar-inverse gc-nav" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>Ground Control</small></strong></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li {{if isTemplate "Index.html"}}class="active"{{end}}><a href="/Index.html">Home</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li {{if isTemplate "Bark.html"}}class="active"{{end}}><a href="/Bark.html">Bark Mulch</a></li>
                            <li {{if isTemplate "Topsoil-Blends.html"}}class="active"{{end}}><a href="/Topsoil-Blends.html">Topsoil Blends</a></li>
                            <li {{if isTemplate "Rock-Sand.html"}}class="active"{{end}}><a href="/Rock-Sand.html">Rock &amp; Sand</a></li>
                            <li {{if isTemplate "Boulders-Rock.html"}}class="active"{{end}}><a href="/Boulders-Rock.html">Rocks &amp; Boulders</a></li>
                            <li {{if isTemplate "Garden-Supplies.html"}}class="active"{{end}}><a href="/Garden-Supplies.html">Fertilizer</a></li>
                        </ul>
                    </li>

                    <!--<li {{if isTemplate "Residential.html"}}class="active"{{end}}><a href="/Residential.html">Residential</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Residential <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li {{if isTemplate "Delivery-Services.html"}}class="active"{{end}}><a href="/Delivery-Services.html">Delivery Services</a></li>
                            <li {{if isTemplate "Bark-Blowing.html"}}class="active"{{end}}><a href="/Bark-Blowing.html">Bark Blowing</a></li>
                            <li {{if isTemplate "Lawn-Installation.html"}}class="active"{{end}}><a href="/Lawn-Installation.html">Lawn Installation</a></li>
                            <li {{if isTemplate "Concrete.html"}}class="active"{{end}}><a href="/Concrete.html">Concrete</a></li>
                            <li {{if isTemplate "Erosion-Control.html"}}class="active"{{end}}><a href="/Erosion-Control.html#Vegetative-Retaining-Walls">Vegetative Retaining Walls</a></li>
                            <li {{if isTemplate "Excavation.html"}}class="active"{{end}}><a href="/Excavation.html">Excavation Services</a></li>
                        </ul>
                    </li>

                    <!--<li {{if isTemplate "Commercial.html"}}class="active"{{end}}><a href="/Commercial.html">Commercial</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Commercial <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li {{if isTemplate "Bark-Blowing.html"}}class="active"{{end}}><a href="/Bark-Blowing.html">Blower Truck</a></li>
                            <li {{if isTemplate "Excavation.html"}}class="active"{{end}}><a href="/Excavation.html">Excavation Services</a></li>
                            <li {{if isTemplate "Wholesale-Material.html"}}class="active"{{end}}><a href="/Wholesale-Material.html">Wholesale Bulk</a></li>
                            <li {{if isTemplate "Bagging.html"}}class="active"{{end}}><a href="/Bagging.html">Bagging &amp; Materials</a></li>
                            <li {{if isTemplate "Trucking.html"}}class="active"{{end}}><a href="/Trucking.html">Trucking</a></li>
                            <li {{if isTemplate "Erosion-Control.html"}}class="active"{{end}}><a href="/Erosion-Control.html">Erosion Control</a></li>
                        </ul>
                    </li>

                    <li {{if isTemplate "Gallery.html"}}class="active"{{end}}><a href="/Gallery.html">Gallery</a></li>
                    <li {{if isTemplate "Contact.html"}}class="active"{{end}}><a href="/Contact.html">Contact</a></li>
                </ul>
            </div>            
        </nav>
    </header>

    <main class="container">
    {{template "Body" .}}
    </main>

    <footer class="container">
        <hr>
        <p class="text-center"><strong>&copy; Ground Control Southern Oregon LLC / Medford, Oregon / {{template "phone"}} / All Rights Reserved</strong></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/vendor/jquery.fluidbox.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-24202156-3');ga('send','pageview');
    </script>
    </body>
</html>