{{define "Title"}}Landscaping Products{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Landscaping Products</h1>
		<h2>Grid/List of landscaping products linking to individual product pages.</h2>
		<code>//TODO: Create layout for this page after everything else is done.</code>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">

		<h3></h3>
		<p></p>

		<h4 class="caption"><em></em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/" alt="">

	</div>
	</div>
</div>
{{end}}