{{define "Title"}}Rock and Sand{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">
		
		<h1 class="page-header text-primary">Rock and Sand</h1>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/garden-sand.png" alt="Garden Sand">
			</a>
			<h3 class="thing-heading">Garden Sand</h3>
			<p>Basic garden and construction sand derived from river sand.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/3-4-open-quarry.png" alt="Three Quarter Open Quarry Rock">
			</a>
			<h3 class="thing-heading">3/4" Minus</h3>
			<p>Crushed rock for driveways and pathways where better drainage is needed or a "non-tracking" surface is desired.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="http://placehold.it/150x120" alt="Pea Gravel">
			</a>
			<h3 class="thing-heading">Pea Gravel</h3>
			<p></p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/3-4-round.png" alt="Three Quarter Round Rock">
			</a>
			<h3 class="thing-heading">3/4" Round</h3>
			<p>Drainage rock used for most applications in construction.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="http://placehold.it/150x120" alt="Pumice">
			</a>
			<h3 class="thing-heading">Pumice</h3>
			<p></p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/.jpg" rel="lightbox">
				<img class="img-rounded" src="http://placehold.it/150x120" alt="Decomposed Granite">
			</a>
			<h3 class="thing-heading">Decomposed Granite</h3>
			<p></p>
		</div>

		<h2 class="text-center">Any materials can be applied by Blower.</h2>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3>Product Delivery</h3>
		<p>We have several ways to deliver our products to your location. They can be blown directly into your planter bed or dump delivered. Call Ground Control today and get a free estimate!</p>

		<h4 class="text-center">{{template "phone"}}</h4>

		<h4 class="caption"><em>Blown-in Delivery</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Blown-in-bark.jpg" alt="Operator blowing in bark">

		<h4 class="caption"><em>Dump Delivery</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/Dump-Delivery.jpg" alt="Dump truck">

		<h4 class="caption"><em>Retail Pickup</em></h4>
		<img class="img-rounded img-responsive center-block" src="/img/loader.jpg" alt="Retail Loader">		
	</div>
	</div>
</div>
{{end}}