{{define "Title"}}Soil and Rock - Ground Control Southern Oregon{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8"><div class="well">
		<h1 class="page-header text-primary">Soil and Rock Products</h1>

		<h2>Soil</h2>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/garden-soil.png" alt="Garden Soil">
			<div class="media-body">
				<h3 class="media-heading">Grand Garden Compost</h3>
				<p>Ground Control Garden Compost is a 100% organic, greenwaste based compost approved for all types of gardening. Not all compost is equal. Ground Control Garden Compost is produced following stringent guidelines and lab tested for maturity, proper biological balance, and microbial activity.</p>
			</div>
		</div>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/tree-shrub-planting-soil.png" alt="Tree and Shrub Planting Soil">
			<div class="media-body">
				<h3 class="media-heading">Tree-n-Shrub Planting Soil</h3>
				<p>Tree-n-Shrub Planting Soil is an all-organic soil blend designed for growing shrubs, trees and other plants that grow best in a fungal dominated environment. Blended with the proper organic fertilizers, compost and beneficial microbes, you can create the ideal Soil Foodweb for your acid loving plants.</p>
			</div>
		</div>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/turf-start-soil.png" alt="Turf Start Soil">
			<div class="media-body">
				<h3 class="media-heading">Premium Turf Soil</h3>
				<p>Premium Turf Soil is a sandy based soil that is biologically formulated for growing grass lawns. Turf Soil can be used for laying sod or seeding, or have Ground Control blow it in place with seed injected as it's being applied. Just add water for a beautiful lawn!</p>
			</div>
		</div>

		<h2>Rock</h2>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/garden-sand.png" alt="Garden Sand">
			<div class="media-body">
				<h3 class="media-heading">Garden Sand</h3>
				<p>Basic garden and construction sand derived from river sand.</p>
			</div>
		</div>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/3-4-open-quarry.png" alt="Three Quarter Open Quarry Rock">
			<div class="media-body">
				<h3 class="media-heading">3/4" Open Quarry</h3>
				<p>Crushed rock without fines for driveways and pathways where better drainage is needed or a "non-tracking" surface is desired.</p>
			</div>
		</div>
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/3-4-round.png" alt="Three Quarter Round Rock">
			<div class="media-body">
				<h3 class="media-heading">3/4" Round</h3>
				<p>Drainage rock used for most applications in construction.</p>
			</div>
		</div>

		<h2 class="text-center">Any materials can be applied by Blower.</h2>
	</div></div>
	<div class="col-md-4"><div class="well">
		<h3 class="text-center">Quality Growing Mixes</h3>
		<ul>
			<li>All mixes include a basic starter fertilizer</li>
			<li>pH balanced with Dolomite Lime</li>
			<li>Greenhouse mixes are blended at time of order</li>
		</ul>

		<h3 class="text-center">We Specialize in Custom Blends!</h3>
		<h4 class="text-center">For quotes call<br>{{template "phone"}}</h4>
		<h4 class="text-center">We Deliver Too!</h4>

		<img class="img-rounded img-responsive center-block" src="/img/green-house-soil.jpg" alt="Green House Soil">
	</div></div>
</div>
{{end}}