{{define "Title"}}Topsoil Blends{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">
		
		<h1 class="page-header text-primary">Topsoil Blends</h1>
		
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/garden-soil.png" alt="Garden Soil">
			<h3 class="media-heading">Garden Compost</h3>
			<p>Ground Control Garden Compost is a 100% organic, greenwaste based compost approved for all types of gardening. Not all compost is equal. Ground Control Garden Compost is produced following stringent guidelines and lab tested for maturity, proper biological balance, and microbial activity.</p>
		</div>
		
		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/tree-shrub-planting-soil.png" alt="Tree and Shrub Planting Soil">
			<h3 class="media-heading">Planting Soil</h3>
			<p>Tree-n-Shrub Planting Soil is an all-organic soil blend designed for growing shrubs, trees and other plants that grow best in a fungal dominated environment. Blended with the proper organic fertilizers, compost and beneficial microbes, you can create the ideal Soil Foodweb for your acid loving plants.</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="/img/products/turf-start-soil.png" alt="Turf Start Soil">
			<h3 class="media-heading">Lawn Base Soil</h3>
			<p>Premium Turf Soil is a sandy based soil that is biologically formulated for growing grass lawns. Turf Soil can be used for laying sod or seeding, or have Ground Control blow it in place with seed injected as it's being applied. Just add water for a beautiful lawn!</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Topsoil</h3>
			<p>A clean topsoil, screened with no clumps. Easy to grade.</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Veggie Soil</h3>
			<p>Ground Controls basic soilless mix, designed for vegetable gardens. Produced following stringent guidelines for proper biological balance and microbial activity. For gardeners that want to control their own fertilizer package.</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">Oregon Grown Soil</h3>
			<p>Ground Controls premium blend soilless mix for vegetable gardening. Complete with the beneficial microbe, compost and organic fertilizer, you can begin to build the proper soil food-web that best fits your plants.</p>
		</div>

		<div class="media">
			<img class="pull-left img-rounded" src="http://placehold.it/150x120" alt="">
			<h3 class="media-heading">GC Nursery Mix</h3>
			<p>Soilless container stock mix. Designed to allow good drainage, biologically active for optimal root growth.</p>
		</div>

		<h2 class="text-center">Any materials can be applied by Blower.</h2>
	
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3 class="text-center">Quality Growing Mixes</h3>
		<ul>
			<li>All mixes include a basic starter fertilizer</li>
			<li>pH balanced with Dolomite Lime</li>
			<li>Greenhouse mixes are blended at time of order</li>
		</ul>

		<h3 class="text-center">We Specialize in Custom Blends!</h3>
		<h4 class="text-center">For quotes call<br>{{template "phone"}}</h4>
		<h4 class="text-center">We Deliver Too!</h4>

		<img class="img-rounded img-responsive center-block" src="/img/green-house-soil.jpg" alt="Green House Soil">
	</div>
	</div>
</div>
{{end}}