{{define "Title"}}Topsoil Blends{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">
		
		<h1 class="page-header text-primary">Topsoil Blends</h1>
		
		<div class="thing">
			<a class="pull-left" href="/img/products/garden-compost.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/garden-compost-thumb.jpg" alt="Garden Soil">
			</a>
			<h3 class="thing-heading">Garden Compost</h3>
			<p>Ground Control Garden Compost is a 100% organic, greenwaste based compost approved for all types of gardening. Not all compost is equal. Ground Control Garden Compost is produced following stringent guidelines and lab tested for maturity, proper biological balance, and microbial activity.</p>
		</div>
		
		<div class="thing">
			<a class="pull-left" href="/img/products/tree-and-shrub-soil.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/tree-and-shrub-soil-thumb.jpg" alt="Tree and Shrub Planting Soil">
			</a>
			<h3 class="thing-heading">Tree &amp; Shrub Soil</h3>
			<p>Tree-n-Shrub Planting Soil is an all-organic soil blend designed for growing shrubs, trees and other plants that grow best in a fungal dominated environment. Blended with the proper organic fertilizers, compost and beneficial microbes, you can create the ideal Soil Foodweb for your acid loving plants.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/tree-and-shrub-soil.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/tree-and-shrub-soil-thumb.jpg" alt="Lawn Base Soil">
			</a>
			<h3 class="thing-heading">Lawn Base Soil</h3>
			<p>Premium Turf Soil is a sandy based soil that is biologically formulated for growing grass lawns. Turf Soil can be used for laying sod or seeding. Just add water for a beautiful lawn!</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/veggie-soil.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/veggie-soil-thumb.jpg" alt="Veggie Soil">
			</a>
			<h3 class="thing-heading">Veggie Soil</h3>
			<p>Ground Controls basic soilless mix, designed for vegetable gardens. Produced following stringent guidelines for proper biological balance and microbial activity. For gardeners that want to control their own fertilizer package.</p>
		</div>

		<div class="thing">
			<a class="pull-left" href="/img/products/topsoil.jpg" rel="lightbox">
				<img class="img-rounded" src="/img/products/topsoil-thumb.jpg" alt="Topsoil">
			</a>
			<h3 class="thing-heading">Topsoil</h3>
			<p>A clean topsoil, screened with no clumps. Easy to grade.</p>
		</div>

		<h3 class="text-center">Any materials can be applied by Blower.</h3>

		<h3 class="text-center">We also specialize in <a href="/Bagging.html">Custom Blends</a>!</h3>
	
	</div>
	</div>
	<div class="col-md-4">
	<div class="well">		
		<h3 class="text-center">Create Beautiful Gardens:</h3>

		<img class="img-rounded img-responsive center-block" src="/img/garden/garden-5.jpg" alt=""><br>
		<img class="img-rounded img-responsive center-block" src="/img/garden/garden-8.jpg" alt=""><br>
		<img class="img-rounded img-responsive center-block" src="/img/garden/garden-10.jpg" alt=""><br>
		<img class="img-rounded img-responsive center-block" src="/img/garden/garden-14.jpg" alt=""><br>
	</div>
	</div>
</div>
{{end}}