{{define "Title"}}Wholesale Material{{end}}

{{define "Body"}}
<div class="row">
	<div class="col-md-8">
	<div class="well">

		<h1 class="page-header text-primary">Wholesale Material</h1>
		<img class="img-responsive img-rounded center-block" src="/img/products/bulk-material.jpg" alt="Bulk Bark Materials">
		<p class="lead">We sell all our materials in bulk at affordable wholesale prices. We provide volume delivery of all our products to growers, landscapers and garden supply distributors.</p>

	</div>
	</div>
	<div class="col-md-4">
	<div class="well">
		<h3 class="text-center">We Specialize in <a href="/Bagging.html">Custom Blends</a>!</h3>

		<img class="img-rounded img-responsive center-block" src="/img/green-house-soil.jpg" alt="Green House Soil">
	</div>
	</div>
</div>
{{end}}